@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

    /* Gradiente de fundo */
body{
    background: linear-gradient(260deg, #77C8C0, #3f9bb3, #155488);
    animation: gradient 5s ease infinite;
    background-size: 290% 10%;
}

@keyframes gradient {
    0% {
    background-position: 0% 100%;
    } 

    50% {
    background-position: 100% 0%;
    } 

    100% {
    background-position: 0% 100%;
    } 
}

    /* Cabeçalho da página */

.container-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #073488;

}

    /* Container de logos no cabeçalho da página */

.logos-cabecalho {
    display: flex;
    position: relative;
    right: 700px;
    margin: 2rem;
    color: #cfcfcf;
}

    /* Titulo principal da página */

.container-titulo-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #073488;
    padding: 1rem;
    
}

    /* Conteúdo principal da página */

.container-principal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 0.4px solid #073488;
    margin-bottom: 40px;
}

    /* Container Input texto */

.container-input-texto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;

}

.texto-atencao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;
    font-family: 'sarala', sans-serif;
    color: #073488;
    font-size: 30px;
    font-weight: 400;
    
}

textarea::placeholder {
    color: #cfcfcf;
    padding: 5px;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  

.input-texto-area1{
    background-color: #073488;
    border: none;
    color: #cfcfcf;
}

    /* Botões da página */
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.desencriptar{
    background-color: #073488;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #cfcfcf;
    gap: 8px;
    width: 328px;
    height: 67px;
}

.encriptar{
    background-color: #073488;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #cfcfcf;
    gap: 8px;
    width: 307px;
    height: 67px;
}

.encriptar:hover{
    background-color: #2c7b8f;
    transition: 1s;
}

.desencriptar:hover{
    background-color: #2c7b8f;
    transition: 1s;
}


    /* Container Input texto2 */

.container-oninput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.container-input-texto-area2{
    background-color: #073488;
    animation: gradient 15s ease infinite;
    background-size: 200% 100%;
    border: none;
    color: #cfcfcf;
}

.texto-oniput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 2px;
    font-family: 'sarala', sans-serif;;
    color: #073488;
    font-size: 14.8px;
    font-weight: 400;
}

span{
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #cfcfcf;
    gap: 8px;
}

 /* Footer da página */
.rodape-main{
    width: 100vw;
    height: 7vw;
    padding: 10px;
    background: #073488;
}


.rodape-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

}

h3{
    font-family: 'Sarala', cursive;
    font-weight: 600;
    font-size: 17px;
    color: #cfcfcf
}